[submodule "vendor/ohmyzsh"]
	path = vendor/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vendor/hydroxide"]
	path = vendor/hydroxide
	url = https://github.com/emersion/hydroxide.git
[submodule "vendor/ddterm"]
	path = vendor/ddterm
	url = https://github.com/ddterm/gnome-shell-extension-ddterm.git
